<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>B站纪录片数据分析</title>
    <!--meta tags -->
    <meta charset="UTF-8">
      <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="static/assert/js/echarts.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />

    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="static/assert/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="static/assert/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--lightbox slider-->
    <link rel="stylesheet" href="static/assert/css/lightbox.css">
    <!-- lightbox slider-->
    <link href="static/assert/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-ups-->
    <!--stylesheets-->
    <link href="static/assert/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="header-outs" id="header">
      <div class="header-w3layouts">
        <div class="container-fluid">
          <!--//navigation section -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="/index">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/docu" class="nav-link scroll">纪录片</a>
                </li>
                <li class="nav-item">
                  <a href="/score" class="nav-link scroll">评分</a>
                </li>
                <li class="nav-item">
                  <a href="/word" class="nav-link scroll">词云</a>
                </li>
              </ul>
            </div>
          </nav>
          <!--//navigation section -->
          <div class="clearfix"> </div>
        </div>
      </div>
      <!--banner -->
      <!-- Slideshow 4 -->
      <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides" id="slider4">
          </ul>
        </div>
        <!-- This is here just to demonstrate the callbacks -->
        <!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->
      </div>
      <div class="clearfix"></div>
    </div>
        <!--service-->
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
          <h3 class="title mb-2">B站纪录片评分统计</h3>
        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
        <div id="main" style="width: 100%;height:500px;"></div>
      </div>
    </section>
        <script type="text/javascript">
        var dom = document.getElementById('main');
        var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
        tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    }
  },
      xAxis: {
        type: 'category',
        data: {{ scores }}
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: {{ num }},
          type: 'bar'
        }
      ]
    };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
      </script>
    <!-- //banner -->

    <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="copy-agile-right text-center pt-lg-4 pt-3">
        <p>
          Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </p>
      </div>
    </footer>
  </body>
</html>